<h1>Cadastro de produtos</h1>

<form action="/add-produto" method="POST">

<p>Descrição: </p>
<input type="text" name="descricao"><br><br>

<p>Quant: </p>
<input type="text" name="quant"><br><br>

<p>Valor: </p>
<input type="text" name="valor"><br><br>

<button type="submit">Cadastrar produto</button>



