<h1>Listar Produtos</h1>
<br><br>
{{#each produtos}}<br>
    Cod.: {{id}}<br>
    Descricao: {{descricao}}<br>
    Quant: {{quant}}<br>
    Valor:  {{valor}}<br>
    Data criação: {{#formatDate createdAt}} {{/formatDate}}<br>
   
{{/each}}

{{!-- aula 14 celke tempo final 9:04 --}}